<header class='top-page-header'>
  <div class="header-logo">
    <%= link_to image_tag("logo.png", class:"giver-icon"), "/" %>
  </div>
  <div class='nav'>
    <ul class='right-header'>
      <%# ユーザーのログイン状態とログアウト状態で表示変更する %>
      <% if false %>
      <li><%= link_to "ユーザー名さん", "#", class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', "#", class: "logout" %></li>
      <% end %>
      <%# ユーザーのログイン状態とログアウト状態で表示変更する %>
      <li><%= link_to 'ログイン', user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
  </div>
</header>