<%= render "shared/second_header" %>

<div class="form-main-background">
  <%= form_with model: @user, url: user_session_path, class: 'form-main', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h2 class='form-header-text'>
        ログイン
      </h2>
    </div>
    <div class='login-flash-message'>
      <%#= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.email_field :email, class:"input-default", placeholder:"PC・携帯どちらでも可", autofocus: true %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password, class:"input-default", placeholder:"6文字以上の半角英数字" %>
    </div>
    <div class='submit-btn'>
      <%= f.submit "ログイン" ,class:"submit-btn-green" %>
    </div>
  </div>
  <div class="divider">
    <span class="divider-text">新しくアカウントを作成しますか？</span>
  </div>
  <div class="login-link">
    <%= render "devise/shared/links", class: "login-btn" %>
  </div>
  <% end %>
</div>